{% extends 'base.html'%}
{% block content%}

<div>
    <h1>Edit item</h1>
    <form method = "post">
         {% csrf_token %}
         {{form.as_p}}
         <button>Update</button>
    </form>
</div>

{% endblock content %} 