<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django One Shot</title>
</head>
<header>
    <h1>My Lists</h1>
</header>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Number of Items</th>
        </tr>
        <tr>
            <td>Todo Lists</td>
            <td> </td>
        </tr>
    </table>

    <footer>

    </footer>
</body>
</html>